.searchInput {
  border: 0;
  width: 100%;
  height: 36px;
  outline: none;
  background-color: #FCFCFD;

  font-size: 14px;
  color: black;
  font-family: "Open Sans";

}

.clearSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
}

.searchInput::placeholder {
  color: #a8a8a8;
  font-family: "Open Sans";
  font-size: 14px;
}