.header {
  display: flex;
  gap: 10px;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}

.headerItems {
  display: flex;
  gap: 7px;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.threadMask {
  font-weight: 600;
  font-size: 13px;
  font-style: normal;
  font-family: "Open Sans";
}

.threadDateInfo {
  font-size: 12px;
  color: #999999;
  opacity: .8;
  font-style: normal;
  font-family: "Open Sans";
}

.newThreadIndicator {
  margin-left: 5px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 2px 4px;
  color: white;
  background-color: rgb(107, 74, 252);
  border-radius: 2.33456px;
  border-radius: 3px;
  font-family: "Open Sans";
}

.repliesCount {
  font-size: 12px;
  color: #999999;
  font-style: normal;
  font-family: "Open Sans";
  opacity: .8;
}


.repliesContainerCount {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.footer {
  display: flex;
  color: rgba(0, 0, 0, .8);
  gap: 10px;
}