.toolbar-item {
  cursor: pointer;
  border-radius: 5px;
  background: white;
}

.toolbar-item:hover {
  background: #f5f5f5;
}

.public-DraftEditorPlaceholder-inner {
  font-size: 14px;
}

.notranslate {
  font-size: 14px;
}