.meta-thread {
  display: flex;
  gap: 10px;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}

.response {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px 1px, rgba(0, 0, 0, 0.08) 0px 2px 8px, rgba(255, 255, 255, 0.08) 0px 0px 0px 1px inset;
}

/* .response:hover {
  background-color: rgb(243, 243, 247);
} */

.thread-date {
  color: rgb(111, 114, 123);
  line-height: 16px;
  font-size: 13px;
  font-weight: inherit;
}