.meta-thread {
  display: flex;
  gap: 10px;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}

.thread-date {
  color: rgb(111, 114, 123);
  line-height: 16px;
  font-size: 13px;
  font-weight: inherit;
}

