body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a8a7a7;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
  cursor: pointer;
}
