#thread-container {
  display: flex;
  justify-content: space-between;
}

.threads-root {
  border-radius: 11px;
  background: rgb(252, 252, 253);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px 1px, rgba(0, 0, 0, 0.08) 0px 2px 8px, rgba(255, 255, 255, 0.08) 0px 0px 0px 1px inset;
}
